<div class="card">
    <div class="card-body">
        <h1>Quienes somos</h1>
        <p>En Herrher, nos apasiona la música y creemos que cada persona debería tener acceso a instrumentos y accesorios de alta calidad para explorar y expresar su creatividad musical. Desde nuestra fundación, nos hemos dedicado a ofrecer a músicos de todos los niveles una experiencia 
            de compra excepcional, respaldada por productos excepcionales y un servicio personalizado..</p>
    </div>
</div>