<div class="jumbotron">
    <h1 class="display-4" style="text-align: center;"><b>HerrHer Music</b></h1>
    <p class="lead" style="text-align: center;">Tu destino para instrumentos musicales y accesorios de alta calidad</p>
    <hr class="my-4">
    <p style="font-size: 25px;">En HerrHer Music, compartimos tu pasión por la música. Cada instrumento y 
        accesorio que ofrecemos está diseñado para inspirar y mejorar tu experiencia musical</p>
</div>